<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Review</title>
    <link rel="stylesheet" href="{% static 'css/Confirmation.css' %}">
    <style>

    </style>
</head>
<body>
    <div class="Delete_container">
        <form action="/del_data/{{review.id}}" method="post" class="DeleteForm" onsubmit="DeleteReviewButton()">
            {% csrf_token %}
            <h1>Are You Sure Want to Delete ? </h1>
            <div class="Buttons">
                <button type="submit" class="DeleteButton">Yes</button>
                <a href="/home" class="CancelButton">Cancel</a>
            </div>
        </form>
    </div>
    <script>
        function DeleteReviewButton (){
            DeleteButton = document.querySelector('.DeleteButton');
            DeleteButton.textContent = 'Deleting';
        }        
    </script>
</body>
</html>