<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" href="{% static 'css/access.css' %}">    <style>

    </style>
</head>
<body>
    <div class="main_container">
        <div class="Sub_Container">
            <div class="center">
                <div class="img">
                    <img src="../static/images/denied.jpg" class="Denied" alt="">
                </div>
                <div class="heading">
                    <div class="linkDiv">
                        <a href="/home" class="Link">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>