<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/addProfile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Profile</title>
</head>
<body>
    <div class="mainContainer">
        <form action="" method="post">
            {% csrf_token %}
            <h4>Edit Your Profile Information Here!</h4><hr>
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>