<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cards.css">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <div class="card-container">
        <div class="main_cards">
            <div class="all">
                <div class="card_one">
                    <img src="../static/images/camera.jpg" alt="">
                </div>
                <div class="card_heading">
                    <h2>DSLR Camera</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
            <div class="all">
                <div class="card_two">
                    <img src="../static/images/headphone.png" alt="">
                </div>
                <div class="card_heading">
                    <h2>Head Phone</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
            <div class="all">
                <div class="card_three">
                    <img src="../static/images/iphone.webp" alt="">
                </div>
                <div class="card_heading">
                    <h2>Iphone</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
            <div class="all">
                <div class="card_four">
                    <img src="../static/images/watch.webp" alt="">
                </div>
                <div class="card_heading">
                    <h2>Watch</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
            <div class="all">
                <div class="card_four">
                    <img src="../static/images/air.jpg" alt="">
                </div>
                <div class="card_heading">
                    <h2>Air Pots</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
            <div class="all">
                <div class="card_four">
                    <img src="../static/images/ring.jpeg" alt="">
                </div>
                <div class="card_heading">
                    <h2>Ring</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
            <div class="all">
                <div class="card_four">
                    <img src="../static/images/speaker.jpeg" alt="">
                </div>
                <div class="card_heading">
                    <h2>Speaker</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
            <div class="all">
                <div class="card_four">
                    <img src="../static/images/show.avif" alt="">
                </div>
                <div class="card_heading">
                    <h2>Shoes</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sint sequi. Eius quibusdam cumque illo ad labore officiis et aliquam aliquid voluptas ex nostrum incidunt, numquam accusantium culpa explicabo ab!</p>
                </div>
                <button class="Btn"><a href="#" class="Btn_link">Add to Cart</a></button>
            </div>
        </div>
    </div>
</body>
</html>