<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login</title>
	<link rel="stylesheet" href="../static/css/new_login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style type="text/css">
	
	</style>
</head>
<body>
	<div class="img_div">
		<img src="../static/images/5.jpg" alt="" class="img_new">
	</div>
	<div class="main_div">
		<div class="welcome">Welcome Back!!!</div>
		<div class="heading_div">Login</div>
		<form class="form">
			<div class="email_div">
				<label class="Email">Email</label> <br>
				<input class="input" type="email" placeholder="Enter your Email"/>
			</div>
			<div class="password_div">
				<a href="#" class="forget">Forgot password?</a>
				<br><label class="password">Password</label> <br>
				<input class="input" type="password" name="password" placeholder="Enter your password">
				<div class= login_div>
					<button type="submit" id="submit">Login</button>
				</div>
			</div>
			<div class="para_div">
				<p class="para">or continue with</p>
			</div>
			<div class="buttons_div">
				
				<div class="icon_div">
					<a href="https://accounts.google.com/v3/signin/identifier?hl=en-gb&ifkv=ASKXGp26DpuxflzvONXJGZ2pAXoJQx7btBXYITsQPALiUhx4DhdtxFoT2Z1_O2eO6Sh9zYfbvLDKSQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S1074538186%3A1702445855987019&theme=glif" class="fa-brands fa-google"></a>
				</div>
				<div class="icon_div">
					<a href="https://github.com/login" class="fa-brands fa-github"></a>
				</div>
				<div class="icon_div">
					<a href="https://m.facebook.com/?_rdr" class="fa-brands fa-facebook"></a>
				</div>
				<div class="account_div">
					<p class="account">Don't have an account yet?<a href="./new account.html" target="_blank" class="a">sign up for free</a></p>
				</div>
			</div>
		</form>
	</div>

</body>
</html>