<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>profile</title>
    <style>
        
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <div class="main_container">
        <div class="sub_container">
            <div class="banner_div">
                <img src="../static/images/banner.jpg" alt="" class="banner_image">
            </div>
            <div class="profile_image_div">
                <div class="image_div">
                    <img src="{{user_datas.profile1.url}}" class="profile_image" alt="">
                    <a href=""><i class="fa-solid fa-camera"></i></a>
                </div>
                <h1>{{user1.user.username}}</h1>
                <h3>{{user_datas.position1}}</h3>
                <div class="button_edit" style="width:100%;">
                    <a href="/profile_update/{{user.id}}">Edit Profile</a>
                </div>
            </div>
            <div class="details_div">
                <form action="" method="POST" class="form">
                    <h2 class="welcome_heading">Welcome Back {{user1.user.first_name}} !!!</h2>
                    <div class="details">
                        <div class="firstname inner">
                            <label for="fname">First Name :</label><br>
                            <input type="text" placeholder="{{user1.user.first_name}}" disabled class="inputs" name="first_name">
                        </div>
                        <div class="lastname inner">
                            <label for="lname">Last Name :</label><br>
                            <input type="text" placeholder="{{user1.user.last_name}}" disabled class="inputs" name="last_name">
                        </div>
                        <div class="Gender_div inner">
                            <label for="">Gender:</label><br>
                            <select name="gender" id="" disabled class="inputs">
                                <option value="select">{{user_datas.gender1}}</option>
                                <option value="male" selected>{{user_datas.gender1}}</option>
                                <option value="female">{{user_datas.gender1}}</option>
                            </select>
                        </div>
                        <div class="mobile_div inner">
                            <label for="">Mobile Number :</label><br>
                            <input type="tel" placeholder="{{user_datas.mobile1}}" disabled class="inputs" name="number">
                        </div>
                        <div class="email_div inner">
                            <label for="">Email :</label><br>
                            <input type="email" placeholder="{{user1.user.email}}" disabled class="inputs" name="email">
                        </div>
                        <div class="user_name inner">
                            <label for="">User name :</label><br>
                            <input type="text" placeholder="{{user1.user.username}}" disabled class="inputs" name="password">
                        </div>
                        <div class="button_edit">
                            <a href="/profile_update/{{user.id}}">Edit Profile</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <script>
        var button = document.querySelector(".Button_Link");
        button.innerHTML = "logout";
        button.setAttribute ("href", "/logout")
        

    </script> -->
</body>
</html>