<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/register.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/registration.css"">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Register</title>
    <style>
        
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <div class="registration_main_container">
        <div class="registration_sub_container">
            <h2>Create New account</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="Username_div">
                    <label for="">User Name:</label><br>
                    <input type="text" id="" name="username"  required>
                </div>
                <div class="names_div">
                    <div class="first_name_div">
                        <label for="">First name</label><br>
                        <input type="text" placeholder="first name"  name="First_name" required>
                    </div>
                    <div class="last_name_div">
                        <label for="">Last Name</label><br>
                        <input type="text" placeholder="last name" name="Last_name"  required>
                    </div>
                </div>
                <div class="email_div">
                    <label for="">Email address:</label><br>
                    <input type="email" id="" placeholder="example@gmail.com" name="email"  required>
                </div>
                <div class="password_div">
                    <label for="">Enter Password:</label><br>
                    <input type="password" placeholder="Enter your Password" name="Password1"  required><br> <br>
                    <label for="">Confirm Password:</label><br>
                    <input type="password" placeholder="Re-Enter your Password" name="Password2"  required>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="message_div" id="myMessage">
                            <p>{{message}}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="submit_button">
                    <button type="submit" class="btn_create">Create Account</button>
                </div>
                <div class="already_have">
                    <p>Already have an account? <a href="signin" class="Signin_link">Sign in</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/js/register.js"></script>
</body>
</html>