<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/login.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/signin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <style>
        
    </style>
</head>
<body>
    <div class="main_login_container">
        <div class="sub_login_container">
            <form action="" method="POST" >
                {% csrf_token %}
                {% if messages %}
                    {% for x in messages %}
                        <div class="message_div" id="myMessage">
                            <p>{{x}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <h2>Sign In</h2>
                <div class="Email_div_login">
                    <label for="">User Name:</label><br>
                    <input type="text" name="username" id="" placeholder="User Name" required>
                </div>
                <div class="Password_login_div">
                    <label for="">Password:</label><br>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
                    <a href="forget_password" class="forget_link">Forget Password</a>
                    <img src="../static/images/eye-close.png" alt="view password" title="view password" id="eyeicon">
                </div>
                <div class="Login_button_div">
                    <button type="submit">Submit</button>
                </div>
                <div class="span_div"></div>
                <div class="New_account_div">
                    <p>Don't have an account? <a href="/new_registration">Create one now</a>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/js/signin.js"></script>
</body>
</html>