<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>view Gallery</title>
    <link rel="stylesheet" href="{% static 'css/galary.css' %}">
    <style>

    </style>
</head>
<body> 
    {% include 'nav.html' %}   
    <div class="main_Container">
        <div class="Sub_container">
            <br>
            <div class="heading">
                <h1>{{category.name}}</h1>
                <a class="BackButton" href="/gallery"><h3 class="fa-solid fa-arrow-left" title="Back"></h3></a>
            </div>  
            <div class="galary">
                {% for x in images %}
                    <img class="images" title="{{x.name}}" src="{{x.image.url}}" alt="{{x.name}}">
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>