*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container{
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    display: flex;
}
.sub_container{
    width: 100%;
}
.message_div{
    width: 100%;
    position: absolute;
    margin-top: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    min-width: 320px;
    padding: 10px;
    text-align: center;
    transition: opacity 0.5s ease;
    font-weight: 700;
    border-radius: 15px;
}
.banner_image{
    width: 100%;
    height: 35vh;
}

.profile_image_div{
    width: 310px;
    height: 500px;
    position: absolute;
    margin-top: -100px;
    margin-left: 5%;
    border-radius: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    box-shadow: 8px 8px 15px #aaa, -8px -8px 15px #fff;
}
.image_div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 300px;
    height: 300px;
}
.image_div i{
    color: black;
    position: absolute;
    margin-top: 225px;
    margin-left: -65px;
    padding: 9px;
    border: 3px solid white;
    background-color:red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
.profile_image{
    border: 3px solid white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.profile_image_div h1{
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.profile_image_div h3{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}
.details_div{
    font-size: 18px;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    background-color: aliceblue;
    position: absolute;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: 8px 8px 15px #aaa, -8px -8px 15px #fff;
}
.form{
    width: 95%;
}
.welcome_heading{
    width: 100%;
    text-align: center;
    padding:5px ;
    margin-top: 10px;
}
.fa-trash{
    cursor: pointer;
    color: orangered;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    font-size: 20px;
}
.fa-trash:hover{
    color: darkred;
}
.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.inner{
    margin-top: 5px;
    width: 50%;
    padding: 25px;
}
.inputs{
    font-size: 15px;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}
.button_edit{
    margin-top: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_edit a{
    font-weight: 800;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 7px 20%;
    background-color: orange;
}
@media screen and (max-width: 1240px){
    .details_div{
        margin-left: 500px;
        width: 50%;
    }
}
@media screen and (max-width: 1227px){
    .inputs{
        width: 200px;
    }
}
@media screen and (max-width: 1025px){
    .details_div{
        margin-left: 400px;
    }
    
}
@media screen and (max-width: 938px){
    .main_container{
        height: auto;
    }
    .banner_image{
        height: 25vh;
    }
    .profile_image_div{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    .details_div{
        position: relative;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 30px;
    }
    .inputs{
        width: 100%;
    }
    .button_edit{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 610px){
    .details_div{
        height: auto;
    }
    .details{
        display: block;
    }
    .inner{
        width: 100%;
    }
    .inputs{
        padding: 10px;
        width: 95%;
    }
}
@media screen and (max-width: 551px){
    .fa-trash{
        top: 3.5rem;
    }
}